@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
 
}
body {
  background-image : url(../Pic13.jpg); 
  background-repeat: no-repeat;
  background-attachment:fixed ;
}

h1, h2, h3, h4 {
  font-family: "Hammersmith One", sans-serif;
  color:black;
}

.container {
  background-color: rgba(121, 196, 167, 0.993);
  padding-left: 30px;
   padding-right: 20px; 
  
}
/* .nav_links{
	color: black;
} */
a:hover{
    color: rgb(5, 190, 190);
}
 img {
  border-radius: 10px; 
} 
.projects__project {
    border: 4px solid rgba(0, 0, 0, 0.938);
    border-radius: 15px ;
    
    
}


.contact{
        justify-content: center;
        text-align: center;
      
       
    }

footer{
    font-family: 'DM Serif Display', serif;
    text-align: center;
    color:white;
}
     .back-to-top {
      color: white;
  }
.back-to-top:hover{
    color: red
}
body
	{
		margin: 0;
		padding: 0;
		font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		background-color: white;
	}
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 10px 10px 10px black;
    border-radius: 12px 0px;
  }
  #myBtn:hover {
    background-color: #555;
  }
  @media (max-width: 700) {
    .projects__project{
      width: 45%;
    }
      .picture {
        width: 45%;
      }
    
      .nav_links {
        width: 45%;
  }
  .contact {
    width: 45%;
  }
  #myBtn{
    width: 45%;
  }
  .container{
    width: 45%;
  }
}
  @media only screen and (max-width: 300px) {
    .projects__project{
      width: 100%;
    }
    .picture_img {
      width: 45%;
  }
  .nav_links {
    width: 45%;
  } 
  .contact {
    width: 45%;
  }
  #myBtn{
    width: 45%
  }

  .container{
    width: 45%;
  }
  }
