@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
body {
  background-image : url(../Old\ San\ Juan\ brick.jpg)
}
h1, h2, h3 {
  font-family: "Hammersmith One", sans-serif;
}
.container {
  background-color: rgb(128, 128, 128)
}
a:hover{
    color: rgb(255, 0, 70);
}
img {
  border-radius: 15px;
}
.projects__project {
    border: 2px solid black;
    border-radius: 15px;

}
.project-title{
}
    back-to-top {
    color: rgba(0, 17, 255, 0.897);
}
.contact{
        justify-content: center;
        text-align: center;
      
       
    }

footer{
    font-family: 'DM Serif Display', serif;
    text-align: center;
    color: rgba(0, 17, 255, 0.897);
}
     .back-to-top {
      color: rgba(0, 17, 255, 0.897);
  }
.back-to-top:hover{
    color: rgb(255, 0, 70);
}